NODE_ENV=development
PORT=8000
USER=jonas
PASSWORD=123456

DATABASE=mongodb+srv://username:<PASSWORD>@clustername.xxxx.mongodb.net/dbname?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://localhost:27017/dbname
DATABASE_PASSWORD=xoxo

JWT_SECRET=neki-mnogo-dugacak-i-sikjur-token-tokencina
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=<your-email>
EMAIL_PASSWORD=<your-password>
EMAIL_HOST=<SMTP HOST>
EMAIL_PORT=<PORT>