NODE_ENV=development
PORT=8000
USER=jonas
PASSWORD=123456

DATABASE=mongodb+srv://username:<PASSWORD>@clustername.xxxx.mongodb.net/dbname?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://localhost:27017/dbname
DATABASE_PASSWORD=xoxo